* {
    box-sizing: border-box;
  }
body {
    background-color: black;
    margin: 0;
}
#background-video {
    top: 0;
    bottom: 0;
    width: 275%;
    position: absolute;
    right: -5000x;
    bottom: 0;
    /* min-width: 100%;
    min-height: 100%; */
}
p {
font-size: 80px;
color: aqua;
position: fixed;
}